body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidenav to 120px */
.w3-sidenav {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidenav (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

.blink_me {
  /*animation: blinker 1s linear infinite;*/
  padding:5px;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.digclock {
    display:table-cell;
    /*font-family:'Orbitron';*/
    font-family:courier;
    padding:2px;
    color:red;
    font-size:2em;
    background-image:url('../img/FondoClock.png');
    border:solid #333333 5px;
    border-radius:5px
    text-align:center;
    width:14em;
}

.digprop {
    display:table-cell;
    /*font-family:'Orbitron';*/
    font-family:courier;
    padding:2px;
    color:red;
    font-size:1.2em;
    background-image:url('../img/FondoClock.png');
    border:solid #333333 5px;
    border-radius:5px
    text-align:center;
    width:14em;
}

.coordinput {
    border:solid #333333 5px;
    border-radius:5px;    
    width:5em;
}

.digconst{
    /*font-family:'Orbitron';*/
    font-family:courier;
    color:red;
}

.slink{
    text-decoration:none:
}

.smalldig{
    font-size:0.5em;
}

.time-table{
    padding:2px;
}

.time-table-name{
    text-align:center;
    font-size:2em;
}
.time-table-clock{
    margin:auto;
}
.time-table-explanation{
}

.usuario{
    border:none;
    border-bottom:solid white 1px;
    background:gray;
    color:white;
    padding:2px;
}

.footnote{
    font-size:0.8em;
}